#box{
    width: 250px;
    height: 250px;
    background-color: hsl(125, 58%, 60%);
    font-size: 13em;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 1s;
}

@keyframes slideLeft {
    from{transform: translateX(100px)}
}

@keyframes rotate{
    100%{transform: rotate(360deg);}
}