h1{
    border-style: solid;
    border-width: 3px; 
    border-color: rgb(203, 46, 201);
    border-radius: 20px;
}

p{
    border-bottom: 3px solid red;
    border-top: 3px solid yellow;
    border-left: 3px dotted green;
    border-right: 3px dotted blue;

    border-radius: 10px;
}