.container{
    display: flex;
    /* /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */ 
    justify-content: flex-end;
    justify-content: space-around;
    height: 90vh;
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#box1{
    background-color: hsl(150, 25%, 25%);
}

#box2{
    background-color: hsl(3, 78%, 65%);
}

#box3{
    background-color: hsl(48, 100%, 67%);
}

#box4{
    background-color: hsl(217, 71%, 53%);
}