.box{
    border: 2px solid;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    max-width: 75%;
    /* max-height: 25%; */
    min-height: 50%;
}