.gallery{
    display: inline-block;
    border: 1px solid grey;
    margin: 15px;
    width: 200px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 1px solid hsl(0, 0%, 60%);

}

.gallery img{
    width: 100%;
    height: auto;
}