body{
    margin: 0;
}

#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: hsl(102,50%,50%);

    transform: translateX(100%);
}